/*CSS Stylesheet*/

@font-face {
    font-family: "calculator";
    src: url("Calculator.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    justify-content: center;
}

body {
    display: flex;
    justify-content: center;
    background-image: url("wood.jpg");
    background-position: center;
}

.container {
    display: flex;
    flex-direction: column;
    /*background-color: rgb(4, 4, 63);*/
    background-image: linear-gradient(to top left, rgb(4, 4, 63), rgb(9, 9, 122));
    border: 1px solid black;
    box-shadow: .5rem .5rem .6rem .1rem black;
    border-radius: 1rem;
    align-items: center;
    width: 40vw;
    height: 90vh;
    margin-top: 2vh;
    flex-shrink: 0;
}



.display {
    width: 90%;
    height: 15%;
    margin-bottom: 10%;
    margin-top: 5%;
    padding: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(139, 141, 150);
    border: 1px solid black;
    border-radius: .2rem;
    box-shadow: 0 0 .1rem .05rem black;
    font-family:'calculator';
    font-size: 3rem;
    
}

.buttons {
    display: flex;
}

.numpad {
    display: flex;
    flex-wrap: wrap;
    width: 21vw;
    height: 40vh;
    flex-direction: row-reverse;
}



.rightButtonColumn {
    display: flex;
    flex-wrap: wrap;
    width: 7vw;
}

.rightButtonColumn .button {
    flex: 1 1 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightcoral;
}

.middleButtonColumn {
    display: flex;
    flex-direction: column;
}

.leftButtonColumn {
    display: flex;
    width: 7vw;
    align-items: flex-end;
}

.leftButtonColumn .button {
    flex: 1 1 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    background-color: crimson;
}

.numpad .button {
    flex: 1 1 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.equalsButton.button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    background-color: goldenrod;

}

.button {
    border-radius: 1rem;
    background-color: lightgray;
    margin: 1%;
}

.statsContainer {
    display: none;
    width: 20vw;
    flex-direction: column;
    align-items: flex-start;
}

.statsContainer .box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2vh;
    color: white;
}

@media (max-width: 479px) {
    .container{
        width: 80vw;
    }
    .buttons {
        width: 70vw;
    }
    .leftButtonColumn {
        flex: 1;
    }
    .middleButtonColumn {
        flex: 1 1 45%;
    }
    .numpad {
        width: 100%;
    }
    .rightButtonColumn {
        flex: 1;
    }
    
}